/* Font-Weight is 400 and 700 */
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #FAF5FF;
}

:root{
    --main-color:#CE0A3A;
    --card-color:#DD6667;
    --nav-background:#1A1919;
    --non-veg-color:#C10000;
    --veg-color:#25E06F;
}

body {
    font-family:"Quantico", sans-serif;
    font-weight: 700;
    background: #000;
    color: #FAF5FF;
}

a{
    text-decoration: none;
    color: #FAF5FF;
}
:is(span , .active){
    color: var(--main-color);
}

/* Header */
header{
    background: url(./Img/background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
    padding-top:50px ;
}

/* Header Content */
.content{
    margin: 0 auto;
    width: 90%;
    padding: 20px 20px;
    border-radius: 50px;
    background: var(--nav-background) ;
}
/* Header NavBar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

menu{
    display: flex;
    list-style-type: none;
}

menu li{
    margin: 0 20px;
    
}
menu li:after{
    content: "";
    display: block;
    height: 5px;
    background: var(--main-color);
    transform: scale(0);
    transform-origin: left;
    transition: all 0.5s ease;
}
menu li:hover::after{
    transform: scale(1);
    transform-origin: right;
}

header input , header label{
    display: none;
    font-size: 30px;
}

@media(max-width:880px){
    header label{
        display: block;
        cursor: pointer;
    }
    nav {
        position: relative;
        font-size: 30px;
    }
    menu{
        display: none;
        position: absolute;
        top: 49px;
        left: 50%;
        transform: translate(-50%,0%);
        background:var(--nav-background);
        width: 95%;
        height: auto;
        border-radius: 20px;
    }
    menu li{
        text-align: center;
    }

    #toggle:checked + label #bar {
        display: none;
      }
      
      #toggle:checked + label #cross {
        display: block;
      }
      
      #toggle:not(:checked) + label #cross {
        display: none;
      }
      
      #toggle:not(:checked) + label #bar {
        display: block;
      }

      #toggle:checked ~ menu {
        display: block;
      }
}