@import url('https://fonts.googleapis.com/css2?family=Passero+One&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Kode+Mono:wght@400..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
:root{
    --font-main:"Quantico", sans-serif;
    --font:"Passero One", sans-serif;
    --font1:"Kode Mono", monospace;
    --font2:"Finger Paint", sans-serif;
    --main-color:#FF0000;
    --second-color:#FF004D;
    --button-color:#C50808;
    --button-hover-color:#e51e1e;
    --color:#E8A6A6;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #0c0b0b;
    color: white;
    overflow-x:hidden;
}
/* Desktop First Approch */

/* Header */
header {
    position: relative;
    height: 100vh;
    text-transform: capitalize;

}
header::before{
    content: " ";
    position: absolute ;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: url(./Img/prep-food.webp);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(30%);
    z-index: -1;
}

/* Header Nav Section */

header .nav-container{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 4%;
    left: 5%;
    right: 5%;
}

/* Edit Logo */
header .nav-container .logo{
    display: flex;
    gap: 10px;
    font-family: var(--font-main);
}
header .nav-container img{
    width: 35px;
}
header .nav-container .logo h3 , header .nav-container .logo span{
    font-size: 2.5rem;
}
header .nav-container .logo h3{
    align-self: end;   
}

/* For All Element contain Span Tag */
span{
    color: var(--main-color);
}

/* Edit-Nav-bar */
header .nav-container nav{
    display: flex;
}
header .nav-container a{
    font-size: 3rem;
    font-family: var(--font);
    color: white;
    text-decoration: none;
    margin: 0em 0.6em;
}
header .nav-container nav a::after{
    content: "";
    display: block;
    width: 0%;
    height: 5px;
    background-color: var(--button-hover-color);
    transition: all 0.5s ease-in-out;
}
header .nav-container nav a:hover::after{
    width: 100%;
    margin: 0 auto;
}

/* for all Element contain class of button */
.button{
    display: inline-block;
    background: var(--button-color);
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
}
.button a{
    font-size: 2.4rem;
    font-family: var(--font);
    color: white ;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 0.2em;
}
.button:hover{
    background:var(--button-hover-color) ;
}

/* Header content */

header .header-content{
    position: absolute;
    top: 35%;
    left: 5%;
    right: 5%;
    font-family: var(--font-main);
}
header .header-content h1{
    font-size: 5rem;
}
header .header-content span{
    font-size: 5rem;
}
header .header-content p{
    font-size: 2rem;
    font-style: italic;
    padding-top: 0.5em;
    padding-bottom: 0.8em;
}

/* Main contant */
main{
    font-family: var(--font-main);
    text-transform: capitalize;
    margin: 5em 24em;
}
main h2{
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}

main .img-container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition:0.5s ease-in-out;
}
main .img-container img:hover{
    filter:drop-shadow(0 0 2.5rem var(--color));
    transform: rotate(360deg);
}
main .img-container a{
    text-decoration: none;
    color: white;
}

main .img-container p{
    font-size: 2.2rem;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
}
main .img-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    margin: 20em 0em;
}

main .about-us{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 45em 0;
}
main .about-us img{
    width: 480px;
    height:580px;
    border-radius: 50px;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
main .about-us img:hover{
    transform: scale(1.1);
    filter:drop-shadow(0 0 2.5rem var(--color));

}
main .about-us h3 a{
    font-size: 5rem;
    color: var(--second-color);
    text-decoration: none;

}
main .about-us p , main .about-us span{
    font-size: 3.2rem;
}

/* popular Recipes card Style */

main .popular-recipes .card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    text-align: center;
    margin-top: 100em;
}
main .popular-recipes .card-container img{
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    top: -15%;
}
main .popular-recipes .card-body{
    color: rgb(0, 0, 0);
    font-family: var(--font-main);
    font-weight: 600;
    position: relative;
    top: -12%;
    /* visibility: hidden; */
    opacity: 0;
    transition: opacity 0.3s ease-out
}
main .popular-recipes h3{
    font-size: 2.5rem;
    font-family: var(--font2);
}
main .popular-recipes .card-p{
    font-size: 2rem;
    font-family: var(--font1);
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 0.5em;
}
main .popular-recipes .card1{
    width: 500px;
    max-height: 320px;
    background-color: var(--color);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
main .card1:hover{
    max-height: 500px;
}
main .card1:hover .card-body{
    /* visibility: visible; */
    opacity: 1;
    transition-delay: 0.5ms;
}
main .card1 a{
    text-decoration: none;
}

main .product{
    margin: 2em 0;
    font-size: 3rem;
    color: white;
}
main  h2 a{
    font-size: 3.5rem;
    text-decoration: none;
    color: white;
}
main .product .product-card-container img{
    width: 500px;
    height: 550px;
    object-fit: cover;
    border-radius: 10px;
}
.product .product-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}
.product .card2{
    position: relative;
    overflow: hidden;
}
.product .card-body{
    width: 100%;
    height: 100%;
    font-family: var(--font-main);
    position: absolute;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #00000044;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 0 2em;
    transition: all 0.6s ease-in-out;
}
.product .card2:hover .card-body{
    right: 0;
}
.product .card-body h4{
    font-size: 3.5rem;
    text-transform: uppercase;
    margin: 15px 0;
}
.product .card-body p{
    font-size: 2.2rem;
    margin: 5px 0 20px;
}
.product .card-body button{
    font-size: 2rem;
    font-family: var(--font-main);
    padding: 0.1em 1em;
    width: 150px;
}



.gallery .slider-container .img{
    display: flex;
    align-items: center;
    width: 500px;
    height: 400px;
    perspective: 100px;
}
.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s;
}

.gallery .slider img{
    width: 550px;
    height: 500px;
    border-radius: 10px;
    transform: scale(0.9);
}
.gallery .img-slider{
    display: inline-block;
    animation: loop 60s linear infinite;
}

.gallery .slider{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
@keyframes loop {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}
.gallery .slider:hover .img-slider{
    animation-play-state: paused;
}

/* Style for the food-tales container */

.img-slide {
    position: relative;
    height: 400px;
  }
  
  .img-radio {
    /* display: none; */
  }
  
  .img-label {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .img-label .img-containe{
    width: 50%;
    height: 100%;
  }
  .img-label .text{
    width: 50%;
    font-size: 3rem;
  }

  .img-switch {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.8s ease;
  }
  
  .img-radio:checked + .img-label .img-switch {
    opacity: 1;
  }
  
  .img-radio:not(:checked) + .img-label .img-switch {
    opacity: 0;
  }
  
  .img-nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
  
  .img-nav-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
  }

  .img-nav-item:Hover{
    background-color: red;
  }
  
  .text {
    display: none;
}
  .img-radio:checked + .foodimg.text {
    display: block;
}




/* arrow up */
.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--color);
    transition: 0.2s ease-out;
}

/* Back TO Top */
.back-to-top span{
    font-size: 3.5rem;
    padding: 0.2em;
    color: black;
    font-weight: 800;
    transition: 0.2s ease-out;
}

.back-to-top:hover{
    background:var(--button-hover-color) ;
}
.back-to-top span:hover{
    transform: translateY(-2px);
}