::selection {
    background-color: var(--veg-color);
    color: #000;
}

main h1 {
    font-size: 50px;
    color: var(--veg-color);
    text-transform: uppercase;
    text-align: center;
}

main .info {
    margin: 20px 0 70px;
}

main img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

main .info p {
    font-size: 35px;
    padding-top: 20px;
}

main .recipe-information span {
    color: #faf5ff;
    text-transform: uppercase;
}

main .recipe-information h2 {
    font-size: 50px;
    text-align: center;
    margin: 50px 0;
}

main .time p {
    padding: 5px 0;
}

main .recipe-information h3 {
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

main .recipe-information ul,
main .recipe-information ol {
    font-size: 25px;
    padding: 0 0 0 25px;
}

main .cooking-tips {
    margin: 70px 0;
}

footer .veg-footer::before {
    background: rgb(37, 224, 111);
}

@media (max-width: 990px) {
    main h1 {
        font-size: 40px;
    }

    main .info p {
        font-size: 25px;
    }

    main .recipe-information h2 {
        font-size: 35px;
    }

    main .time {
        font-size: 20px;
    }

    main .recipe-information h3 {
        font-size: 25px;
    }

    main .recipe-information ul,
    main .recipe-information ol {
        font-size: 20px;
        margin-left: 25px;
    }
}

@media (max-width: 600px) {
    main .info p {
        text-align: center;
    }
}

@media (max-width: 400px) {
    main h1 {
        font-size: 35px;
    }

    main .info p {
        font-size: 20px;
    }

    main .recipe-information h2 {
        font-size: 25px;
    }

    main .time {
        font-size: 20px;
    }

    main .recipe-information h3 {
        font-size: 20px;
    }

    main .recipe-information ul,
    main .recipe-information ol {
        font-size: 18px;
    }
}
