::selection {
    background: var(--non-veg-color);
}

main h1 {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    margin: 70px 0;
    color: var(--non-veg-color);
}

main .food-description .food-text h2 {
    padding-bottom: 15px;
}


footer .non-veg-footer::before {
    background: rgb(193, 0, 0);
}